
.headerMain {
    color: #979797;
}
#mainUrl {
    color: #979797;
}
#team {
    font-size: 1.2em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
