{% extends ':soccer:team.html.twig' %}
{% block nav_adm %}{% endblock %}
{% block trueR %}{% endblock %}
{% block content %}
    <div id="container">
        <div class="row">
            <div class="col-md-2">
                <br>
                <ul>
                    <li>Team</li>
                    <li>Player</li>
                    <li>Coach</li>
                    <li>Link4</li>
                    <li>Link5</li>
                    <li>Link6</li>
                    <li>Link7</li>
                </ul>
            </div>
            <div class="col-md-10">
                <br>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}