{% extends ':soccer:team.html.twig' %}
{% block content %}
    <div id="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                Team:
                {% if trueRout %}
                    <span id="team" style="color: #2b542c">{{ team }}:</span><br>
                {% else %}
                    <span style="color: red">Name of country: {{ team }} WRONG!!!</span><br>
                {% endif %}
                {% block peoples %}
                    Player:
                    {{ player }}
                {% endblock %}
                <br><br>
                <em>Biography:</em>
                <br>
                <p>{{ biography }}</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>


{% endblock %}